@import url('https://fonts.googleapis.com/css?family=Bitter&display=swap');
// @font-face {
//   font-family: 'Bitter', serif;
//   src: url(../fonts/Roboto-Regular.ttf)
// }

@import 'variables';
@import 'skinner-styles';
@import 'landing';

// html {
//   font-size: $root-font-size;
//   font-family: $font-family;
//   max-width: $page-width;
//   margin: 0 auto;
//   text-align: center;
// }

// p {
//   font-size: $paragraph-font-size;
// }